<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
            <title>Tentang acu</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/background_website.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Courgette|Dancing+Script&display=swap" rel="stylesheet">
    </head>
    <body class = "aboutmeB">
        <h1 class="right">Siapa nih!</h1>
        <h3 class = "teksy">________________________________________________<br><br>
            Programmer jago?<br>
            Seseorang yang sangat peduli lingkungan?<br>
            Orang ganteng?<br>
            HAH?! 3-3nya?!<br><br>
            Kenalin nih! Nama saya Muhammad Ali Asadillah<br>
            Pekerja keras yang selalu ingin<br>
            Mempelajari hal baru dan sangat peduli<br>
            dengan lingkungan sekitar.<br><br>

            Mau kenal lebih lanjut?<br>
            Cek social medianya aja yuk!<br>
            ________________________________________________ 
            <nav>
                <ul class="btn">
                    <li><p><a href = "https://twitter.com/aliasadillah"><img alt = "foto brok" src="{% static 'images/Untitled (1).png' %}" width="70" height="70" ></a></p></li>
                    <li><p><a href = "https://www.linkedin.com/in/ali-a-516112128/"><img alt = "ini juga brok" src="{% static 'images/circle-cropped.png' %}" width="70" height="70" ></a></p></li>
                    <li><p><a href = "https://www.instagram.com/ali.asadillah/"><img alt = "apalagi ini" src="{% static 'images/Untitled (2) (1).png' %}" width="70" height="70" ></a></p></li>
                    
                
            </nav>
            
             

        </h3>
        <nav>
            
        </nav>

    </body>
{% endblock %}