{% load static %}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/background_website.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Courgette|Dancing+Script&display=swap" rel="stylesheet">
    </head>
<body>
<nav>
    <ul class = "btn2">
        <li><p><a href = "{% url 'homepage:about' %}">About Me!</a></p></li>
        <li><p><a href = "{% url 'homepage:exp' %}">Experience</a></p></li>
        <li><p><a href = "{% url 'homepage:profile' %}">Profile</a></p></li>
        <li><p><a href="{% url 'homepage:schedule' %}">Schedule</a></p></li>
    </ul>
</nav>
{% block content %}
{% endblock %}

</body>
</html>