<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}


<meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <head>
        <title>Pengalaman</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/background_website.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Courgette|Dancing+Script&display=swap" rel="stylesheet">
    </head>
    <body class="experienceB">
        <h1 class = "lefty">Experience</h1>
        <body>
            <h3 class = "teks">
                ________________________________________________________________________________________________________________<br><br>
                • Koordinator Angkatan Fasilkom 2018<br><br>
                • Ketua gathering fasilkom 2018<br><br>
                • Koordinator perlengkapan English Party 2015<br><br>
                • Koordinator perlengkapan English Party 2016<br><br>
                • Kepantiaan bidang Basket Nitrackers 2016<br><br>
                • Kepanitiaan bidang basket Nitrackers 2017<br><br>
                • Kepantiaan bidang acara Nitracker 2015<br><br>
                • Kepanitiaan bidang mentor Social Project Fasilkom 2018<br><br>
                • Kepanitiaan bidang perlengkapan Computer Science League 2018<br><br>
                • Kepanitiaan bidang Perlengkapan Compfest 2019 <br><br>
            </h3>
        </body>
        
    </body>
{% endblock %}